body {
    margin: 0;
    background-color: #e3f2fd;
    font-family: 'Roboto Slab', serif;
}

#email-header, #logo-and-title {
    display: flex;
    align-items: center;
}

#logo-and-title {
    gap: 2px;
}

#email-header img {
    width: 60px;
    height: 60px;
}

h1 {
    color: #90caf9;
    font-weight: 200;
}

span {
    display: block;
    font-size: 18px;
    font-style: italic;
}

#search-label, #inbox-history {
    margin: 0px auto;
}

#search-label {
    position: relative;
}

#search, 
h2, 
#skills-list li, 
#inbox-history, 
#search-label input,
#contact-info,
#contact-info li {
    border-radius: 10px;
}

#search-label input {
    width: 600px;
    height: 50px;
    padding: 0px 40px;
    border: none;
    background-color: #979dac30;
    outline: none;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #33415c;
}

#search-label svg {
    position: absolute;
    left: 0px;
    padding: 10px 12px;
    pointer-events: none;
    top: 0.3rem;
    width: 20px;
    height: 20px;
    color: #979dac;
}

mark {
    background-color: #90caf980;
    border-radius: 5px;
}

#main-area {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5px;
}

#skills-container {
    display: flex;
    flex-direction: column;
}

h2 {
    background-color: #979dac30;
    color: #33415c;
    padding: 20px 30px;
    max-width: 100px;
    margin: 0px 5px;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

#skills-list, #contact-info {
    list-style: none;
    font-size: 15px;
    margin-top: 0px;
    padding: 5px;
}

#contact-info a {
    text-decoration: overline dotted;
    color: #33415c;
}

#skills-list li {
    margin: 5px 0px;
    background-color: #0353a450;
    padding: 5px 50px;
    color: #33415c;
}

#skills-list li:hover, 
input[type="checkbox"], 
#icons svg:hover, 
.degree-and-certs:hover {
    cursor: pointer;
}

#skills-list li:hover {
    background-color: #979dac30;
}

#contact-info li {
    background-color: #979dac30;
    color: #33415c;
    margin: 5px 0px;
    padding: 5px 20px;
    font-size: 12px;
}

#contact-info li:hover {
    background-color: #0353a450;
}

#inbox-history {
    width: 900px;
    height: auto;
    background-color: #33415c99;
}

#icons {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    gap: 20px;
}

#top-of-inbox {
    display: flex;
    justify-content: space-between;
}

.top-of-inbox-icons {
    width: 18px;
    height: 18px;
    color: white;
}

h4 {
    color: white;
    font-size: 15px;
    font-weight: 200;
    padding-right: 10px;
}

#icons svg:hover {
    background-color: #33415c10;
    border-radius: 50%;
    padding: 2px;
}

input[type="checkbox"] {
    accent-color: #0353a410;
}

.inbox-title input {
    width: 15px;
    height: 15px;
}

.inbox-item {
    color: white;
    border-top: 1px solid #FFFFFF40;
    border-bottom: 1px solid #FFFFFF40;
    padding: 10px 10px;
    font-size: 15px;
}

.inbox-item label {
    display: inline;
}

.bg-lightgrey {
    background-color: #979dac;
}

.inbox-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

#degrees-and-certs-title {
    text-align: center;
    font-size: 20px;
    margin: 5px 0px;
}

#degrees-and-certs-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 15px 0px;
    text-align: center;
    font-size: 16px;
    color: #33415c;
}

.degree-and-certs {
    width: 300px;
    background-color: #90caf990;
    border: 1px solid #FFFFFF40;
    border-radius: 5px;
    height: 60px;
}

.degree-and-certs:hover {
    background-color: #90caf9;
}

.highlight {
    background-color: yellow;
}